{
	debug
	auto_https off
}

:51819 {
	bind fd/3 {
		protocols h1
	}
	encode gzip

	handle /api* {
		reverse_proxy unix//run/gunicorn.sock {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
		}
	}

	handle {
		root * /usr/share/caddy/html
		try_files {path} /index.html
		file_server
	}
}
