[Unit]
Description=WireGuard Pro UDP Socket
PartOf=wireguard-pro.service

[Socket]
ListenDatagram=0.0.0.0:51820
ListenDatagram=[::]:51820
SocketMode=0600
Service=wireguard-pro.service

[Install]
WantedBy=sockets.target