[Unit]
Description=WireGuard Pro Container
Requires=wireguard-pro.socket
After=wireguard-pro.socket

[Container]
Image=localhost/wireguard/wireguard-pro:latest
ContainerName=wireguard-pro
Network=wireguard-pro-network
Volume=boringtun-data:/etc/wireguard:Z,U
Volume=wg-pro-data:/data:Z,U
Secret=wg-privatekey
PodmanArgs=--preserve-fds=1 \
  --publish=8006:8006/tcp \
  --publish=51819:51819/tcp \
  --publish=51820:51820/udp

AddCapability=CAP_NET_ADMIN CAP_NET_RAW CAP_SETUID CAP_SETGID
AddDevice=/dev/net/tun:/dev/net/tun:rwm
Environment=WG_SUDO=1
Environment=WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun-cli
EnvironmentFile=/etc/wireguard-pro/env

[Install]
WantedBy=default.target