[Unit]
Description=Socket Activation for WireGuard Pro

[Socket]
ListenStream=0.0.0.0:51819
ListenDatagram=0.0.0.0:51820
ListenDatagram=[::]:51820
SocketMode=0600
Service=wireguard-pro.service
FileDescriptorName=wireguard-pro-tcp:boringtun-udp:wireguard-pro-tcp6:boringtun-udp6

[Install]
WantedBy=sockets.target
