[Unit]
Description=WireGuard Pro Container
Requires=wireguard-pro.socket
After=wireguard-pro.socket

[Container]
Image=localhost/wireguard/wireguard-pro:latest
ContainerName=wireguard-pro
PublishPort=51820:51820/udp
Network=slirp4netns:mtu=1500,port_handler=slirp4netns,allow_host_loopback=false,enable_ipv6=true
Volume=boringtun-data:/etc/wireguard:Z,U
Volume=wg-pro-data:/data:Z,U
PodmanArgs=--preserve-fds=1

AddCapability=CAP_NET_ADMIN CAP_NET_RAW CAP_SETUID CAP_SETGID
AddDevice=/dev/net/tun:/dev/net/tun:rwm
Sysctl=net.ipv4.ip_forward=1
Sysctl=net.ipv6.conf.all.forwarding=1
Secret=admin-user
Secret=admin-pass
Secret=wg-privatekey
Secret=wg-publickey
Environment=WG_SUDO=1
Environment=WG_QUICK_USERSPACE_IMPLEMENTATION=boringtun-cli
EnvironmentFile=%h/.config/wireguard-pro/env

[Install]
WantedBy=default.target