@if (stats.length > 0) {
  <div class="stats-container">
    <table id="statsTable">
      <thead>
        <tr>
          <th>Public Key</th>
          <th>Last Handshake (s ago)</th>
          <th>Received (MB)</th>
          <th>Sent (MB)</th>
        </tr>
      </thead>
      <tbody>
        @for (s of stats; let i = $index; track trackByKey(i, s)) {
          <tr>
            <td>{{ s.public_key }}</td>
            <td
              [class.good]="s.last_handshake_time < 60"
              [class.warn]="s.last_handshake_time >= 60 && s.last_handshake_time < 300"
              [class.stale]="s.last_handshake_time >= 300">
              {{ s.last_handshake_time }}
            </td>
            <td>{{ (s.rx_bytes / 1e6) | number:'1.2-2' }}</td>
            <td>{{ (s.tx_bytes / 1e6) | number:'1.2-2' }}</td>
          </tr>
        }
      </tbody>
    </table>

    <div class="charts">
      @for (s of stats; let i = $index; track trackByKey(i, s)) {
        <div class="client-chart">
          <h3>{{ s.public_key }}</h3>
          <apx-chart
            #chart
            [series]="chartConfig.series"
            [chart]="chartConfig.chart"
            [xaxis]="chartConfig.xaxis"
            [stroke]="chartConfig.stroke"
            [dataLabels]="chartConfig.dataLabels"
            [tooltip]="chartConfig.tooltip">
          </apx-chart>
        </div>
      }
    </div>
  </div>
} @else {
  <p>No statistics to display.</p>
}